<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body bgcolor="black", text="white">
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/station/date</p>
    <p>For one station, one date: http://127.0.0.1:5000/10/19000819</p>
    <p>For one station, all dates: http://127.0.0.1:5000/10</p>
    <p>For one station, one year: http://127.0.0.1:5000/yearly/10/1900</p>
    <p>{{data | safe}}</p>
    <a href=""></a>
</body>
</html>